/* .container-one{
    max-width: 700px;
    max-height: 100dvh;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.lead-one{
    font-weight: 400;
}
.lead-two{
    color: gray;
}

@media (max-width: 768px) {
    body{
        padding: 30px;
    }
} */
 