body{
    background-color: #f5f5f5;
}
/* SUB DIV STYLES */
.main-container{
   display: grid;
   background-color: rgba(255, 255, 255, 1); 
   max-width: 1350px;
   margin: 50px auto 0 auto;
   grid-auto-rows: repeat(2, 1fr);
   grid-template-areas: 
   "div1 div2";
   border: 1px solid rgba(0, 0, 0, 0.1);
}
.createDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subConfirm{
    font-size: 15px;
    color: red;
}

.carousel-div{
   grid-area: "div2";
    display: flex;
    justify-content: end;
    max-width: 1500px;
    position: relative;

}
.sub-carousel{
    position: absolute;
    top: 80%;
    left: 20%;
    color: white;
    max-width: 400px;
}
.sub-carousel h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.carousel-div img{
    width: 85%;
    object-fit: cover;
    
}
.sub-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 25px 10px 25px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    grid-area: "div1";
    margin-top: 30px;
    max-width: 1500px;
    margin-left: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
@media (max-width: 968px) {
    .carousel-div {
            display: none;
        }
    
        .sub-div {
            border-radius: 20px;
            margin: 50px auto 20px auto;
            max-width: 768px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        }
        .main-container{
            grid-template-areas:
            "div1";
            margin: 50px auto 0 auto;
            max-width: 768px;
        }
}

@media (max-width: 1338px) {
    .main-container {
            max-width: 1500px;
        }
    
        .carousel-div {
            max-width: 800px;
        }
    
        .carousel-div img {
            width: 80%;
        }
        .sub-carousel{
            max-width: 500px;
            padding: 15px;
        }
        .spanText{
            font-size: .75rem;
        }
}

/* LOGO and HEADER styles */
.img{
    width: 40px;
    padding: 20px 0 0 0;
}
.inputDiv{
    width: 100%;
    padding: 0 30px 0 30px;
}
.inputPassword, .confirmPassword{
    padding: 15px 0 15px 10px;
}
.confirmPassword{
    border-right: none;
}
.confirmToggle{
        border-top-color: rgba(0, 0, 0, 0.1);
        border-bottom-color: rgba(0, 0, 0, 0.1);
        border-left: none;
        border-right-color: rgba(0, 0, 0, 0.1);
        background-color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; 

}
.confirmToggle:hover{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}
.confirmToggle:active{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.createToggle{
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.inputPassword{
    border-right: none;
}
.createToggle:hover{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}
.btnCreateAccount{
    width: 100%;

}

.btn-createAccount{
    width: 100%;
    padding: 15px 0 15px 10px;;
}
.contdWithGoogle{
    padding: 15px 5px 15px 5px;
    border: 1px solid gray;
}
.contdWithGoogle:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-control:focus{

    box-shadow: none !important;

    /* 3. Clear browser-specific mobile highlights */
    -webkit-tap-highlight-color: transparent !important;

    /* 4. SET YOUR CUSTOM COLOR HERE */
    border: 2px solid rgba(0, 0, 0, 1) !important;
}

input[type="password"]:focus {
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    border-right: none !important;
}

.bi{
    color: black;
}



