body{
    background-color: #f5f5f5;
}
/* SUB DIV STYLES */
.sub-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 768px;
    margin: 50px auto 0 auto;
    padding: 10px 25px 10px 25px;
    background-color: white;
    border-radius: 20px;
}
/* LOGO and HEADER styles */
.img{
    width: 40px;
    padding: 20px 0 0 0;
}
.inputDiv{
    width: 100%;
    padding: 0 30px 0 30px;
}
.inputPassword, .confirmPassword{
    padding: 15px 0 15px 10px;
}
.confirmPassword{
    border-right: none;
}
.confirmToggle{
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.confirmToggle:hover{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}
.confirmToggle:active{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.createToggle{
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right-color: rgba(0, 0, 0, 0.1);
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.inputPassword{
    border-right: none;
}
.createToggle:hover{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}
.btnCreateAccount{
    width: 100%;
}

.btn-createAccount{
    width: 100%;
    padding: 15px 0 15px 10px;;
}
.contdWithGoogle{
    padding: 15px 5px 15px 5px;
    border: 1px solid gray;
}
.contdWithGoogle:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-control:focus{

    box-shadow: none !important;

    /* 3. Clear browser-specific mobile highlights */
    -webkit-tap-highlight-color: transparent !important;

    /* 4. SET YOUR CUSTOM COLOR HERE */
    border: 2px solid rgba(0, 0, 0, 1) !important;
}

input[type="password"]:focus {
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    border-right: none !important;
}



.bi{
    color: black;
}


